<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>login</h1>
<form action="log" method="post">
<label for ="email">Email Id</label><br>
<input type ="email" id ="email" name ="email"><br><br>
<label for ="password">Password</label><br>
<input type ="password" id ="password" name ="password"><br><br>
<label><input type="checkbox"> Remember me</label>
<a href="#">Forgot Password?</a>
<input type ="submit">
<p>Don't have an account?<a href="signup">Register</a></p>
</form>
</body>
</html>